- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the Gentle-Journey-917 application.
  %p This system ... what does it do? Let's the user navigate section 917 with peace and calmness.
#sidebar
  %p sidebar