%ul.menubar
  %li= link_to 'home', home_url_for(current_user), :title => 'Home'
  = admin_menu_items(current_user)
  - if current_user.role.name == "developer" || current_user.role.name == "administrator"
    %li= link_to 'gnomes', admin_gnomes_path, :title => 'gnomes'
  - else
    %li= link_to 'gnomes', members_gnomes_path, :title => 'gnomes'
